#flex-container {
    display: flex;
}
.block {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin: 10px;
    display: flex;
    justify-content: center;
}
span {
    margin-top: 15px;
}
.green {
    background-color: green;
}
.orange {
    background-color: orange;
}
.red {
    background-color: red;
}
.grey {
    background-color: grey;
}
.apskritimas {
    border-radius: 50%;
}
