body {
    width: 400px;
    height: 400px;
    background-repeat: no-repeat;
}
#dice1 {
    background-image: url(../img/dice1.png);
}
#dice2 {
    background-image: url(../img/dice2.png);
}
#dice3 {
    background-image: url(../img/dice3.png);
}
#dice4 {
    background-image: url(../img/dice4.png);
}
#dice5 {
    background-image: url(../img/dice5.png);
}
#dice6 {
    background-image: url(../img/dice6.png);
}