#flexContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.cigImg {
    width: 55px;
    height: 55px;
    background-image: url(../img/cig.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid black;
    margin: 2px;
}


